<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Cinema Ironhack</title>
  </head>
  <body>
    <div class="img-container">
      <img id="img-background" src="images/cinema.jpg" alt="landing picture" />
      <div class="landing-page-text">
        <h1>Cinema<br>Ironhack</h1>
        <a href="/movies">
        <button id="check-the-movies-button">Check the movies!</button>
        </a>   
    </div>
  </body>